/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	Defining the grid and boarders of the site
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  font-family: 'Alegreya Sans SC', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #2B2A2B;
 }

html {
  width: 100%;
  height: 100%;
}

/*END OF RESET*/
/*START OF CSS*/

.header{
  background-color: red;
  position:absolute;
  top:0;
  left:0;
  right:0;

  height:10%;

}

.footer{
  background-color: green;
  
  position:absolute;
  bottom:0;
  left:0;
  right:0;

  height:10%;

}

.wrapper{
  height:100%;
  width: 100%;

  background-color:white;
}

.question-box{

  position:absolute;



  top:100px;
  bottom: 100px;
  right: 100px;
  left:100px;

  background-color: blue;

}

.question-box{

  background-color: orange;

  position: absolute;


}

.question-text{
  background-color: green;
  position: absolute;
  width: 100%;
  height: 60%;

  top: 0;
  left: 0;
  right: 0;

}


.question-title{
  position: absolute;
  left: 0;
  right:0;

  height:15%;

  background-color: blue;
}

.question-body{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 85%;

  background-color: orange;

}

.answer-section{
  background-color: purple;
  position: absolute;

bottom:0;

  width: 100%;
  height: 40%;

}


.answer{
  background-color: maroon;

  height: 19%;

  margin-bottom: 0;

}

.answer-btn{
  margin-right: 10px;
  margin-top: 8px;
}

.answer-text{
  margin-top:10px;
  margin-left:5px;
  width: 100%;
  height: 10%;
}


.question-btn{
  width: 100%;
  height: 100%;
}



